.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    background: var(--main-color);
    grid-template-rows: auto;
}

.hero .info{
    position: relative;
    top: 150px;
    left: 50px;
    width: fit-content;
    height: fit-content;
}
.hero .info h1{
    color: white;
    font-size: 3rem;
    width: fit-content;
    font-weight: 500;
}

.hero .info .buttons a button{
    position: relative;
    padding: 7px 25px;
    padding-right: 30px;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary-color);
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    transition: all 300ms linear;
}

.hero .info .buttons a button:hover{
    background-color: var(--secondary-hover);
}

.hero .info .buttons a button svg{
    width: 28px;
    height: 28px;
    position: relative;
    left: -7px;
    top: 2px;
    fill: white;
}

.hero .info .buttons a button span{
    position: relative;
    left: 10px;
    top: -6px;
    font-size: 1.2rem;
}

.hero .info p{
    width: 500px;
    font-size: 1.2rem;
    color: white;
    margin: 20px 0px;
}

.hero .info .scroll {
    display: block;
    margin-top: 50px;
}

.hero .info .circle {
    animation: upDown 800ms infinite alternate-reverse;
}

@keyframes upDown {
    0% {
      -webkit-transform: translate(262px, 798px);
      transform: translate(262px, 798px);
    }
    100% {
      -webkit-transform: translate(262px, 830px);
      transform: translate(262px, 830px);
    }
}


.image{
    position: relative;
    top: 150px;
    grid-column-start: 3;
    margin-right: 50px;
}

.image img{
    border-radius: 10px;
}

.studyContent{
    position: relative;
    width: 1080px;
    margin: 0 auto;
    top: 70px;
}

.studyContent h1{
    color: #d1b5ff;
    font-size: 2.1rem;
}

.studyContent p{
    font-size: 1.2rem;
    margin: 20px 0px;
    
}

.studyContent p span{
    color: var(--main-color);
    font-weight: 500;
}

.banner{
    width: 100%;
    padding: 30px;
    background: var(--main-color);
    position: relative;
    top: 100px;
}

.bannerContent{
    display: grid;
    text-align: center;
    color: white;
    width: 1080px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    grid-gap: 70px;
}

.bannerImage img{
    border-radius: 10px;
}


.studyFooter{
    position: relative;
    top: -600px;
}