.skills{
    position: relative;
    top: 250px;
    text-align: center;
}

.header{
    color: var(--main-color);
    font-size: 2.1rem;
    margin-bottom: 40px;
}

.additionalWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.skills .banner{
    width: 100%;
    height: 300px;
    background: var(--main-color);
}

.skills .banner .sectionOne, .skills .banner .sectionTwo{
    width: 600px;
    color: black;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 15px;
    position: relative;
    top: 40px;
    padding-bottom: 100px;
}


.skills .banner .sectionOne h1, .skills .banner .sectionTwo .title{
    font-size: 1.55rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.skills .banner .sectionOne p, .skills .banner .sectionTwo p{
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 25px;
}

.skills .banner .sectionTwo{
    width: 800px;
    color: white;
    position: relative;
    padding: 30px;
    background: var(--main-color);
    top: -35px;
}

.skills .banner .additionalWrapper .sectionTwo .number{
    position: absolute;
    right: -210px;
    bottom: 40px;
    font-size: 9rem;
    font-family: "Dancing Script";
    color: var(--secondary-color);
    z-index: 25;
    letter-spacing: 10px;
}