.navbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.25rem;
    cursor: pointer;
}

.logo span {
    font-weight: 600;
}

.links {
    display: flex;
    list-style: none;
}

.links a{
    margin: 0px 15px;
    font-size: 1rem;
    font-style: italic;
    transition: all 200ms linear;
}

.links a:hover {
    color: var(--main);
}