.hire{
    position: relative;
    top: 670px;
    text-align: start;
}

.header{
    color: var(--main-color);
    font-size: 2.1rem;
    margin-bottom: 30px;
    text-align: center;
}

.hire .banner{
    width: 100%;
    height: 470px;
    padding: 20px;
    background: var(--main-color);
    
}

.hire .banner .content{
    position: relative;
    background: white;
    color: black;
    width: 850px;
    height: 550px;
    padding: 40px;
    margin: 0 auto;
    top: 20px;
    border-radius: 20px;
}

.hire .banner .content p{
    font-size: 1.15rem;
    text-align: start;
}

.form{
    position: relative;
    top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    grid-row-gap: 0px;
    grid-template-areas: 
        "name email"
        "message message"
        "btn btn"
    ;
}

.name{
    grid-area: name;
}

.email{
    grid-area: email;
}

.message{
    grid-area: message;
}

.form button{
    grid-area: btn;
    padding: 10px 20px;
    width: fit-content;
    padding-right: 30px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: white;
    font-size: 1.1rem;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms linear;
    position: relative;
    top: 20px;
    text-align: start;
}

.form button:hover{
    filter: var(--main);
}

.form button svg{
    fill: white;
    width: 30px;
    height: 30px;
}

.form button span{
    position: relative;
    left: 10px;
    top: 5px;
}


.name input, .email input{
    height: 45px;
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    background-color: white;
    outline: none;
    padding: 15px;
    font-size: 1.1rem;
    width: 100%;
    font-weight: 400;
    transition: all 300ms linear;
}

.message textarea{
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    background-color: white;
    width: 100%;
    outline: none;
    resize: none;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 400;
    height: 150px;
    transition: all 300ms linear;
}

.name label, .email label, .message label{
    position: relative;
    font-size: 1.1rem;
    font-weight: 400;
    transition: all 300ms linear;
    color: var(--main);
    top: 32px;
    left: 15px;
    background-color: white;
    z-index: 999;
    width: fit-content;
}

.loading {
    border: 6px solid rgb(236, 236, 236);
    border-radius: 50%;
    border-top: 6px solid var(--main-color);
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 999;
    transition: all 300ms ease-in;
    opacity: 0;
    top: -12px;
    left: 180px;
    transform: translate(-50%, -50%);
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  

  
.hire .banner .content .number{
    position: absolute;
    right: -210px;
    bottom: 35px;
    font-size: 9rem;
    font-family: "Dancing Script";
    color: var(--secondary-color);
    z-index: 25;
    letter-spacing: 10px;
}

@media only screen and (max-width: 1270px){
    .hire .banner .content .number{
        position: absolute;
        right: unset;
        left: -150px;
        bottom: -50px;
        
    }
}

@media only screen and (max-width: 1150px){
    .hire .banner .content .number{
       display: none;
    }
}

@media only screen and (max-width: 890px){
    .hire .banner .content{
        width: 95%;
    }
}

@media only screen and (max-width: 773px){
    .hire .banner{
        height: 520px;
    }
    
}

@media only screen and (max-width: 600px){
    .form{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "name"
            "email"
            "message"
            "btn"
        ;
    }

    .hire .banner{
        height:580px;
    }

    .hire .banner .content{
        height: 600px;
    }
}

@media only screen and (max-width: 460px){
    .hire .banner{
        height: 600px;
    }
    .hire .banner .content{
        height: 640px;
        padding: 20px;
    }
}


@media only screen and (max-width: 450px){
    .hire{
        top: 500px;
    }   
}

@media only screen and (max-width: 400px){
    .hire .banner{
        padding: 10px;
    }
    .hire .banner .content{
        width: 100%;
    }
}

@media only screen and (max-width: 344px){
    .hire .banner{
        height: 640px;
    }
    .hire .banner .content{
        height: 660px;
        padding: 20px;
    }
}
