.footer{
    position: absolute;
    bottom: -1150px;
    width: 100%;
    height: 250px;
    background: var(--main-color);
    color: white;
    padding: 25px;
}

.logo{
    font-weight: 400;
    cursor: pointer;
    font-size: 1.5rem;
}

.lastName{
    font-weight: 300;
}

.copyright{
    font-size: 1.1rem;
    position: absolute;
    bottom: 7px;
    padding-right: 15px;
}

.copyright .imageWrapper{
    display: inline;
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.icons{
    display: flex;
    position: relative;
    top: 15px;
    left: -10px;
}

.icons svg{
    fill: white;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 10px;
}

.links{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 25px;
    font-size: 1.15rem;
    top: 20px;
    justify-content: space-between;
}

.links a{
    transition: all 300ms linear;
    margin: 5px;
}

.links a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 450px){
    .footer{
        bottom: -1030px;
        height: 400px;
    }

    .links{
        right: unset;
        left: 20px;
        top: 200px;
    }
}

.changeColor{
    position: absolute;
    right: 0px;
    bottom: 0;
    margin-right:25px;
    margin-bottom: 5px;
}

.changeColor svg{
    fill: white;
    width: 32px;
    height: 32px;
    transition: all 300ms linear;
    cursor: pointer;
}

.changeColor input{
    opacity: 0;
    position: absolute;
    z-index: 97;
    left: -10px;
    height: 30px;
    cursor: pointer;
}

.darkMode{
    stroke: white;
    cursor: pointer;
    position: absolute;
    right: 0px;
    transition: all 300ms linear;
    bottom: 0;
    margin-right: 75px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 700px){
    .darkMode{
        left: 20px;
        top: 135px;
        margin-right: unset;
    } 

    .changeColor{
        position: absolute;
        left: 80px;
        top: 137px;
        margin-right:unset;
        margin-bottom: 5px;
    }
}