.footer{
    position: absolute;
    bottom: -1100px;
    width: 100%;
    height: 250px;
    background: var(--main-color);
    color: white;
    padding: 25px;
}

.logo{
    font-weight: 400;
    font-size: 1.5rem;
}

.copyright{
    font-size: 1.1rem;
    position: absolute;
    bottom: 7px;
}

.copyright .imageWrapper{
    display: inline;
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.icons{
    display: flex;
    position: relative;
    top: 15px;
    left: -10px;
}

.icons svg{
    fill: white;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 10px;
}

.links{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 25px;
    font-size: 1.15rem;
    top: 20px;
    justify-content: space-between;
}

.links a{
    transition: all 300ms linear;
    margin: 5px;
}

.links a:hover{
    text-decoration: underline;
}