.caseStudies .hero{
    width: 100%;
    position: relative;
    top: 0;
    z-index: -1;
    height: 700px;
    background: var(--main-color);
    text-align: center;
    color: white;
}

.caseStudies .hero h1{
    position: relative;
    top: 180px;
    font-size: 2.4rem;
}

.caseStudies .hero p{
    position: relative;
    top: 200px;
    width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
}

.caseStudies .hero p a{
    text-decoration: underline;
}

.caseStudies .hero .scroll{
    position: relative;
    top: 350px;
}

.circle {
    animation: upDown 800ms infinite alternate-reverse;
}

.caseStudiesFooter{
    position: relative;
    top: -750px;
}

@keyframes upDown {
    0% {
      -webkit-transform: translate(262px, 798px);
      transform: translate(262px, 798px);
    }
    100% {
      -webkit-transform: translate(262px, 830px);
      transform: translate(262px, 830px);
    }
}

.caseStudiesContent{
    position: relative;
    top: 20px;
    width: 1140px;
    margin: 0 auto;
    padding-bottom: 50px;
}

@media only screen and (max-width: 1200px){
    .caseStudiesContent{
        width: 100%;
        padding: 0 20px;
        padding-bottom: 50px;
    }
    
}

@media only screen and (max-width: 820px){
    .caseStudies .hero p{
        width: auto;
        padding: 0 15px;
    }

    .caseStudies .hero h1{
        padding: 0 15px;
    }
    
}


@media only screen and (max-width: 400px){
    .caseStudies .hero h1{
        font-size: 2rem;
    }
    
}

@media only screen and (max-width: 450px){
    .caseStudiesFooter{
        position: relative;
        top: -520px;
    }
    
}

