.container {
    max-width: 1114px;
    margin: 0 auto;
}

.hero {
    position: relative;
    top: 50px;
}

.left {
    width: 500px;
}

.left h1 {
    font-size: 3rem;
    font-weight: 700;
}

.left button{
    position: relative;
    top: 5px;
    padding: 7px 25px;
    padding-right: 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: var(--main-dark);
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    transition: all 300ms linear;
}

.left button:hover{
    background-color: var(--main);
}

.left button svg{
    width: 28px;
    height: 28px;
    position: relative;
    left: -7px;
    top: 2px;
    fill: white;
}

.left button span{
    position: relative;
    left: 10px;
    top: -6px;
    font-size: 1.2rem;
}

.scroll {
    display: block;
    margin-top: 50px;
}

.circle {
    animation: upDown 800ms infinite alternate-reverse;
}

@keyframes upDown {
    0% {
      -webkit-transform: translate(262px, 798px);
      transform: translate(262px, 798px);
    }
    100% {
      -webkit-transform: translate(262px, 830px);
      transform: translate(262px, 830px);
    }
}


.work{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
    width: 100%;
    grid-row-gap: 100px;
}

.grid{
    display: grid;
    position: relative;
    top: 20px;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-gap: 40px;
}

.gridTwo {
    top: 0px;
}

.grid .info h1{
    color: white;
    font-size: 2.6rem;
    font-weight: 500;
}

.grid .info h1::after {
    content: "";
    width: 217px;
    height: 15px;
    background: var(--secondary-color);
    position: absolute;
    margin-left: -218px;
    margin-top: 27px;
    z-index: -1;
}

.gridTwo .info h1::after {
    width: 134px;
    margin-left: -134px;
}


.grid .image {
    width: 550px;
    height: 290px;
    border-radius: 10px;
    margin-top: 30px;
    animation: upDownSlow 1000ms infinite alternate-reverse;
}

@keyframes upDownSlow {
    0% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
}

.grid .info button{
    position: relative;
    top: 5px;
    padding: 5px 20px;
    padding-right: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    transition: all 300ms linear;
}

.grid .info button:hover{
    background-color: var(--secondary-hover);
}

.grid .info button svg{
    width: 28px;
    height: 28px;
    position: relative;
    left: -5px;
    top: 2px;
    fill: white;
}

.grid .info button span{
    position: relative;
    left: 12px;
    top: -6px;
    font-size: 1.2rem;
}

.grid .info p{
    position: relative;
    top: 25px;
    color: var(--gray);
    font-size: 1.1rem;
    font-style: italic;
}

.grid .info a{
    color: var(--secondary-color);
    text-decoration: underline;
}


.bigLine {
    width: 100%;
    height: 1px;
    position: relative;
    background: rgba(255, 255, 255, 0.267);
}

.skills {
    position: relative;
    top: 180px;
    width: 100%;
}

.skills div .title{
    font-size: 3rem;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 0px;
}

.skills div .info {
    font-size: 1.1rem;
    line-height: 27px;
}

.about {
    margin-top: 250px;
}

.about .intro {
    font-size: 1.05rem;
    font-style: italic;
}

.about .text {
    font-size: 1.2rem;
    margin-top: 30px;
}

.about .text .imageWrapper{
    display: inline;
    position: relative;
    left: 7px;
    top: 3px;
}

.hire {
    margin-top: 50px;
}

.hire .content p{
    font-size: 1.1rem;
    text-align: start;
    font-style: italic;
}


.form{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    grid-row-gap: 0px;
    grid-template-areas: 
        "name email"
        "message message"
        "btn btn"
    ;
}

.name{
    grid-area: name;
}

.email{
    grid-area: email;
}

.message{
    grid-area: message;
}

.form button{
    grid-area: btn;
    padding: 7px 20px;
    width: fit-content;
    padding-right: 30px;
    border: none;
    outline: none;
    background-color: var(--main-dark);
    color: white;
    font-size: 1.1rem;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms linear;
    position: relative;
    top: 20px;
    text-align: start;
}

.form button:hover{
    background-color: var(--main);
}

.form button svg{
    fill: white;
    width: 30px;
    height: 30px;
}

.form button span{
    position: relative;
    left: 10px;
    top: 5px;
}


.name input, .email input{
    height: 45px;
    border: none;
    border-radius: 5px;
    border: 1px solid var(--gray);
    background-color: transparent;
    outline: none;
    padding: 15px;
    font-size: 1.1rem;
    width: 100%;
    font-weight: 400;
    transition: all 300ms linear;
    color: white;
}

.message textarea{
    border: none;
    border-radius: 3px;
    border: 1px solid var(--gray);
    background-color: transparent;
    width: 100%;
    outline: none;
    resize: none;
    padding: 15px;
    font-size: 1.1rem;
    color: white;
    font-weight: 400;
    height: 150px;
    transition: all 300ms linear;
}

.name label, .email label, .message label{
    position: relative;
    font-size: 1.1rem;
    font-weight: 400;
    transition: all 300ms linear;
    color: white;
    top: 32px;
    left: 15px;
    background-color: black;
    z-index: 999;
    width: fit-content;
}

.loading {
    border: 6px solid rgb(236, 236, 236);
    border-radius: 50%;
    border-top: 6px solid var(--main-dark);
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 999;
    transition: all 300ms ease-in;
    opacity: 0;
    top: -20px;
    left: 300px;
    transform: translate(-50%, -50%);
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}
  
.hireWrapper {
    display: grid;
    grid-template-columns: 1fr 300px;
    align-items: start;
}

.time {
    justify-self: end;
    display: flex;
    transform: rotate(90deg);
    position: relative;
    top: 75px;
    left: 65px;
    flex-direction: column;
}

.time p {
    color: var(--main);
}

.dec {
    width: 165px;
    height: 1px;
    position: relative;
    bottom: -10px;
    background: var(--main);
}

.footer{
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
    height: 260px;
    background: var(--main-color);
    color: white;
    margin-top: 130px;
    padding: 0 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.267);
    padding-top: 70px;
}

.logo{
    font-weight: 500;
    cursor: pointer;
    font-size: 1.3rem;
    width: fit-content;
    margin-bottom: 0px;
    margin-top: 0px;
}

.lastName{
    font-weight: 300;
}

.copyright{
    font-size: 1rem;
    position: absolute;
    bottom: 7px;
    padding-right: 15px;
}

.copyright .imageWrapper{
    display: inline;
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.icons{
    display: flex;
    position: relative;
    top: 15px;
    left: -10px;
}

.icons svg{
    fill: white;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 10px;
}

.links{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    font-size: 1rem;
    top: 70px;
    font-style: italic;
    justify-content: space-between;
}

.links a{
    transition: all 300ms linear;
    margin: 5px;
}

.links a:hover{
    text-decoration: underline;
}

