.about{
    position: relative;
    top:510px;
    text-align: start;
}

.header{
    color: var(--main-color);
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 30px;
}

.about .sectionOne{
    max-width: 1140px;
    margin: 0 auto;
    font-size: 1.2rem;
}

.about .sectionOne .imageWrapper{
    display: inline;
    position: relative;
    left: 5px;
    top: 2px;
}


.aboutBanner{
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 15px;
    background: var(--main-color);
}

.aboutBanner .wrapper{
    max-width: 1140px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: white;
}


.about .aboutBanner .wrapper .additionalWrapper{
    width: 100%;
    position: relative;
}

.about .aboutBanner .wrapper .additionalWrapper .number{
    position: absolute;
    right: -50px;
    bottom: -100px;
    font-size: 8.5rem;
    font-family: "Dancing Script";
    color: var(--secondary-color);
    z-index: -1;
}

@media only screen and (max-width: 1270px){
    .about .aboutBanner .wrapper .additionalWrapper .number{
        position: absolute;
        right: unset;
        left: -15px;
        bottom: -170px;
    }
  }
  
  @media only screen and (max-width: 1150px){
    .about .aboutBanner .wrapper .additionalWrapper .number{
        display: none;
    }

    
    .about .sectionOne{
        padding: 0px 15px;
    }

  }

  @media only screen and (max-width: 690px){
    .about{
        top:570px;
    }
  }

  @media only screen and (max-width: 450px){
    .about{
        top: 380px;
    }

}